<!DOCTYPE html>
<html lang="en">
<head>
    <title>My-App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
</head>
<body>
<article>
    <nav>
        <ul>
            <li><strong>Person</strong></li>
        </ul>
        <ul>
            <li><a href="/people">People List</a></li>
            <li><a href="/person-form">Add Person</a></li>
        </ul>
    </nav>
    <div>
        <a href="/person-form">Manage person</a>
    </div>
    <div>
        <a href="/people">See people</a>
    </div>
    <div>
        <p>Gitops Test</p>
    </div>
</article>
</body>
</html>